<template>
    <form id="formcotizar" data-vv-scope="formcotizar" method="POST" action @submit.prevent="validateBeforeSubmit('formcotizar')">
      <p class="text-center my-1 mt-md-3 tform p-1">Ingresa los datos de tu automóvil aquí</p>
      <div class="row">
        <!-- MARCA -->
        <div class="col-6 form">
          <select title="marca" name="marca" id="marca" class="form-control mb-1" v-model="$store.state.formData.marca" @change="getModelos()" v-validate="'required'" >
            <option value>Auto</option>
            <option v-for="marca in formData.marcas" v-bind:key="marca.text">{{ marca.text }}</option>
          </select>
        </div>
        <!-- MODELO -->
        <div class="col-6 form">
          <select title="modelo" name="modelo" id="modelo" v-validate="'required'" v-model="$store.state.formData.modelo"
                  class="form-control mb-1" @change="getDescripciones()">
            <option value>Modelo</option>
            <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">{{ modelo.text }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <!-- DESCRIPCION -->
        <div class="col-6 form">
          <select title="descripcion" name="descripcion" id="descripcion" v-validate="'required'" class="form-control mb-1"
                  @change="getSubDescripciones()" v-model="$store.state.formData.descripcion">
            <option value>Submarca</option>
            <option v-for="descripcion in formData.descripciones" v-bind:key="descripcion.text">{{descripcion.text}}
            </option>
          </select>
        </div>

        <!-- SUBDESCRIPCION -->
        <div class="col-6 form">
          <select title="subdescripcion" name="subDescripcion" id="subDescripcion" v-validate="'required'" class="form-control mb-1"
                  @change="getDetalles()"
                  v-model="$store.state.formData.subDescripcion">
            <option value>Descripción</option>
            <option
              v-for="subdescripcion in formData.subDescripciones"
              v-bind:key="subdescripcion.text"
            >{{subdescripcion.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <!-- DETALLE -->
        <div class="col-12 form">
          <select title="detalleid" name="detalleid" id="detalleid" v-validate="'required'" class="form-control mb-1"
                  @change="detalleSelected">
            <option value>Detalle del Auto</option>
            <option
              v-for="detalle in formData.detalles"
              v-bind:key="detalle.text"
              :value="detalle.id"
            >{{ detalle.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <!-- EDAD -->
        <div class="col-12 text-center text-white">
          <span class="d-c">Datos del Conductor </span>
        </div>
        <div class="col-12 form">
          <select title="edad" name="edad" id="edad" v-validate="'required'" class="form-control mb-1"
                  v-model="$store.state.formData.edad" @change="calculaFechaNacimiento" :class="{'borde-rojo' : errors.has('form-1.marca')} ">
            <option value>Edad del conductor</option>


            <option v-for="edad in formData.edades" v-bind:key="edad">{{ edad }}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <!-- GENERO -->
        <div class="col-6 form">
          <select title="genero"
            name="genero"
            v-model="$store.state.formData.genero"
            id="genero"
            v-validate="'required'"
            class="form-control mb-1"
          >
            <option value>Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>
        <!-- CODIGO POSTAL -->
        <div class="col-6 form">
          <input title="codigoPostal" pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)$"
            type="number"
            name="codigoPostal"
            id="codigoPostal"
            v-model="$store.state.formData.codigoPostal"
            v-validate="{ required: true, numeric:true, max:5, min:5 }"
            onKeyPress="if(this.value.length === 5) return false;"
            class="form-control mb-1"
            placeholder="Código Postal"

          />
        </div>
      </div>

      <div class="row">
        <!-- NOMBRE -->
        <div class="col-12 form">
          <input title="nombre"
            type="text"
            name="nombre"
            id="nombre"
            v-model="nombre"
            v-validate="{ required: true, alpha_spaces:true, min:3, max:50 }"
            class="form-control  mb-1"
            placeholder="Escribe tu nombre"
          />
        </div>
      </div>

      <div class="row">
        <!-- CORREO -->
        <div class="col-12 col-lg-6 form">
          <input title="correo"
            type="email"
            name="correo"
            id="correo"
            v-model="correo"
            v-validate="{ required:true, email:true, min:8, max:50, regex: /^[\w\.]{2,30}@[a-zA-Z]{2,15}\.[a-z]{2,4}(\.[a-z]{2,2})?$/ }"
            class="form-control mb-1"
            placeholder="Escribe tu email"
          />
        </div>
        <!-- TELEFONO -->
        <div class="col-12 col-lg-6 form">
          <input title="telefono" pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)$"
            type="number"
            name="telefono"
            id="telefono"
            v-model="telefono"
            onKeyPress="if(this.value.length === 10) return false;"
            v-validate="{ required: true, numeric:true, max:10, min:10}"
            class="form-control  mb-1"
            placeholder="Escribe tu teléfono"
          />
        </div>
      </div>
      <!-- CHECKBOX -->
      <div class="row">
        <div class="col-12 text-center">
          <privacidad />
        </div>
      </div>
      <!-- BOTON -->
      <div class="row">
        <div class="col-12 text-center">
          <button type="submit" class="btn b-cotizar mb-lg-3" id="btnCotizarAuto">
            <strong>Cotiza gratis <span class="col-1 col-sm-2 m-lg-2 m-md-2 m-xl-2 m-sm-1 icon-btn"></span></strong>
          </button>
        </div>
      </div>
    </form>
</template>

<script>
    import modelosService from "~/plugins/modelos";
    import descripcionesService from "~/plugins/descripciones";
    import subdescripcionesService from "~/plugins/subdescripciones";
    import detallesService from "~/plugins/detalles";
    import privacidad from "~/components/common/privacidad.vue"

    export default {
        props: {
            config: Object
        },
        components:{
          privacidad
        },
        name: "FontAwesome",
        data() {
            return {
                formData: {
                    marcas: [],
                    modelos: [],
                    descripciones: [],
                    subDescripciones: [],
                    detalles: [],
                    edades: []
                },
                telefono: "",
                nombre:"",
                correo:""
            };
        },

        watch: {
            telefono: function (val) {
                var regExp = /(.)\1{3}$/;
                var phone = regExp.exec(this.telefono);
                var ultimoCaracter = this.telefono.charAt(this.telefono.length - 1);

                if (
                    this.telefono.charAt(this.telefono.length - 2) ==
                    this.telefono.charAt(this.telefono.length - 1) - 1 &&
                    this.telefono.charAt(this.telefono.length - 3) ==
                    this.telefono.charAt(this.telefono.length - 1) - 2 &&
                    this.telefono.charAt(this.telefono.length - 4) ==
                    this.telefono.charAt(this.telefono.length - 1) - 3
                ) {
                    this.telefono = this.telefono.substring(0, this.telefono.length - 1);
                } else {
                    this.$store.state.formData.telefono = this.telefono;
                }

                if (!phone) {
                    this.$store.state.formData.telefono = this.telefono;
                } else {
                    this.telefono = this.telefono.substring(0, this.telefono.length - 1);
                }
            },
            nombre: function(val) {
              var regExp = /(.)\1{2}$/;
              var name = regExp.exec(this.nombre);
              var ultimoCaracter = this.nombre.charAt(this.nombre.length - 1);
              if (
                      this.nombre.charAt(this.nombre.length - 2) ==
                      this.nombre.charAt(this.nombre.length - 1) - 1 &&
                      this.nombre.charAt(this.nombre.length - 3) ==
                      this.nombre.charAt(this.nombre.length - 1) - 2 &&
                      this.nombre.charAt(this.nombre.length - 4) ==
                      this.nombre.charAt(this.nombre.length - 1) - 3
              ) {
                this.nombre = this.nombre.substring(0, this.nombre.length - 1);
              } else {
                this.$store.state.formData.nombre = this.nombre;
              }
              if (!name) {
                this.$store.state.formData.nombre = this.nombre;
              } else {
                this.nombre = this.nombre.substring(0, this.nombre.length - 1);
              }
            },
            correo: function(val) {
              var regExp = /(.)\1{2}$/;
              var mail = regExp.exec(this.correo);
              var ultimoCaracter = this.correo.charAt(this.correo.length - 1);
              if (
                      this.correo.charAt(this.correo.length - 2) ==
                      this.correo.charAt(this.correo.length - 1) - 1 &&
                      this.correo.charAt(this.correo.length - 3) ==
                      this.correo.charAt(this.correo.length - 1) - 2 &&
                      this.correo.charAt(this.correo.length - 4) ==
                      this.correo.charAt(this.correo.length - 1) - 3
              ) {
                this.correo = this.correo.substring(0, this.correo.length - 1);
              } else {
                this.$store.state.formData.correo = this.correo;
              }
              if (!mail) {
                this.$store.state.formData.correo = this.correo;
              } else {
                this.correo = this.correo.substring(0, this.correo.length - 1);
              }
            }
        },

        created: function () {
            this.formData.marcas.length = 0;
            this.formData.modelos.length = 0;
            this.formData.descripciones.length = 0;
            this.formData.subDescripciones.length = 0;
            this.formData.detalles.length = 0;
            this.formData.edades.length = 0;
            this.$store.state.formData.aseguradora = this.$store.state.config.aseguradora;

            this.getMarcas();
            this.getEdades();
        },
        methods: {
            getMarcas: function () {
                this.formData.marcas = JSON.parse('[{"id":"m100","text":"NISSAN"},{"id":"m101","text":"CHEVROLET"},{"id":"m102","text":"VOLKSWAGEN"},{"id":"m103","text":"HONDA"},{"id":"m104","text":"KIA"},{"id":"m105","text":"MAZDA"},{"id":"m106","text":"TOYOTA"},{"id":"m1","text":"ACURA"},{"id":"m2","text":"ALFA ROMEO"},{"id":"m3","text":"ASTON MARTIN"},{"id":"m4","text":"AUDI"},{"id":"m5","text":"BAIC"},{"id":"m6","text":"BENTLEY"},{"id":"m7","text":"BMW"},{"id":"m8","text":"BUICK"},{"id":"m9","text":"CADILLAC"},{"id":"m10","text":"CATERHAM"},{"id":"m11","text":"CBO MOTORS"},{"id":"m12","text":"CHANGAN"},{"id":"m14","text":"CHRYSLER"},{"id":"m15","text":"CLASICO"},{"id":"m16","text":"COLT"},{"id":"m17","text":"DAEWOO"},{"id":"m18","text":"DFM"},{"id":"m19","text":"DFSK"},{"id":"m20","text":"DINA MOTORS"},{"id":"m21","text":"DODGE"},{"id":"m22","text":"FAW"},{"id":"m23","text":"FERRARI"},{"id":"m24","text":"FIAT"},{"id":"m25","text":"FORD"},{"id":"m26","text":"FOTON"},{"id":"m27","text":"FRONTERIZO"},{"id":"m28","text":"GENERAL MOTORS"},{"id":"m29","text":"GH MOTORS"},{"id":"m30","text":"GIANT MOTORS"},{"id":"m31","text":"HINO MOTORS"},{"id":"m33","text":"HUMMER"},{"id":"m34","text":"HYUNDAI"},{"id":"m35","text":"INFINITI"},{"id":"m36","text":"INTERNATIONAL"},{"id":"m37","text":"ISUZU"},{"id":"m38","text":"IVECO"},{"id":"m39","text":"JAC"},{"id":"m40","text":"JAGUAR"},{"id":"m41","text":"JEEP"},{"id":"m43","text":"LAMBORGHINI"},{"id":"m44","text":"LAND ROVER"},{"id":"m45","text":"LEXUS"},{"id":"m46","text":"LINCOLN"},{"id":"m47","text":"LOTUS"},{"id":"m48","text":"MASERATI"},{"id":"m49","text":"MASTRETTA"},{"id":"m50","text":"MAXUS"},{"id":"m51","text":"MAYBACH"},{"id":"m53","text":"MCLAREN"},{"id":"m54","text":"MERCEDES BENZ"},{"id":"m55","text":"MERCURY"},{"id":"m56","text":"MG"},{"id":"m57","text":"MINI COOPER"},{"id":"m58","text":"MITSUBISHI"},{"id":"m59","text":"MORGAN"},{"id":"m61","text":"PEUGEOT"},{"id":"m62","text":"PIAGGIO"},{"id":"m63","text":"PONTIAC"},{"id":"m64","text":"PORSCHE"},{"id":"m65","text":"RENAULT"},{"id":"m66","text":"ROLLS ROYCE"},{"id":"m67","text":"SAAB"},{"id":"m68","text":"SEAT"},{"id":"m69","text":"SMART"},{"id":"m70","text":"SPARTAK"},{"id":"m71","text":"STARVIA"},{"id":"m72","text":"STRUDER"},{"id":"m73","text":"SUBARU"},{"id":"m74","text":"SUZUKI"},{"id":"m75","text":"TATA MOTORS"},{"id":"m76","text":"TESLA"},{"id":"m78","text":"UAZ"},{"id":"m79","text":"VAM"},{"id":"m81","text":"VOLVO"},{"id":"m82","text":"YUEJIN"},{"id":"m83","text":"ZACUA"}]');
            },
            getModelos: function () {
                document.getElementById("modelo").focus();
                this.$store.state.formData.modelo = "";
                this.$store.state.formData.descripcion = "";
                this.$store.state.formData.subDescripcion = "";
                this.$store.state.formData.detalle = "";
                this.formData.modelos.length = 0;
                this.formData.descripciones.length = 0;
                this.formData.subDescripciones.length = 0;
                this.formData.detalles.length = 0;
                modelosService
                    .search(
                        this.$store.state.formData.aseguradora,
                        this.$store.state.formData.marca
                    )
                    .then(response => {
                        this.formData.modelos = JSON.parse(response);
                    });
            },
            getDescripciones: function () {
                document.getElementById("descripcion").focus();
                this.$store.state.formData.descripcion = "";
                this.$store.state.formData.subDescripcion = "";
                this.$store.state.formData.detalle = "";
                this.formData.descripciones.length = 0;
                this.formData.subDescripciones.length = 0;
                this.formData.detalles.length = 0;
                descripcionesService
                    .search(
                        this.$store.state.formData.aseguradora,
                        this.$store.state.formData.marca,
                        this.$store.state.formData.modelo
                    )
                    .then(response => {
                        this.formData.descripciones = JSON.parse(response);
                    });
            },
            getSubDescripciones: function () {
                document.getElementById("subDescripcion").focus();
                this.$store.state.formData.subDescripcion = "";
                this.$store.state.formData.detalle = "";
                this.formData.subDescripciones.length = 0;
                this.formData.detalles.length = 0;
                subdescripcionesService
                    .search(
                        this.$store.state.formData.aseguradora,
                        this.$store.state.formData.marca,
                        this.$store.state.formData.modelo,
                        this.$store.state.formData.descripcion
                    )
                    .then(response => {
                        this.formData.subDescripciones = JSON.parse(response);
                    });
            },
            getDetalles: function () {
                document.getElementById("detalleid").focus();
                this.$store.state.formData.detalle = "";
                this.formData.detalles.length = 0;
                detallesService
                    .search(
                        this.$store.state.formData.aseguradora,
                        this.$store.state.formData.marca,
                        this.$store.state.formData.modelo,
                        this.$store.state.formData.descripcion,
                        this.$store.state.formData.subDescripcion
                    )
                    .then(response => {
                        this.formData.detalles = JSON.parse(response);
                    });
            },
            getTipos: function () {
            },
            getEdades: function () {

                this.formData.edades = Array.from(Array(80).keys(), n => n + 17 + 1);


            },
            detalleSelected(evt) {
                var index = evt.target.selectedIndex;
                this.$store.state.formData.detalleid = evt.target.options[index].value;
                this.$store.state.formData.detalle = evt.target.options[index].label;

                this.myFocus("edad");
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then(result => {
                    document.getElementById("btnCotizarAuto").disabled = true;
                    if (result) {
                        document.getElementById("formcotizar").reset();
                        this.$router.push({path: 'gracias'});
                    } else {
                        document.getElementById("btnCotizarAuto").disabled = false;
                    }
                });
            },
            myFocus: function (id) {
                document.getElementById(id).focus();
            },
            calculaFechaNacimiento() {
                this.$store.state.formData.fechaNacimiento = (
                    new Date().getFullYear() -
                    this.$store.state.formData.edad +
                    "-01-01"
                )
                    .toString()
                    .toString("yyyy/MM/dd");
                this.myFocus("genero");
            }
        },

        directives: {
            focus: {
                inserted: function (el) {
                    el.focus();
                }
            }
        },

    };
</script>
