/*=============NUEOS ESTILOS ============*/

.back-init{ background: #fff;}
.color-font{color:#004b92;}
.color-font-tk{color: #192d35;}
.cotizaseguro-logo {width: 259px;height: 30px;background-image: url(/img/sprite.svg);background-position: -115px -85px;background-size: 402px;background-repeat: no-repeat;margin: 0 auto;}
.logo-axa {width: 109px;height: 100px;background-image: url(/img/sprite.svg);background-position: 17px 6px;background-size: 308px;background-repeat: no-repeat;}
.star{width: 232px;height: 57px;background-image: url(/img/sprite.svg);background-position: -191px -9px;background-size: 350px;background-repeat: no-repeat; margin: 0 auto;}
.logo-autoseguro-gray {width: 175px;height: 101px;background-image: url(/img/sprite.svg);background-position: -9px 54px;background-size: 400px;background-repeat: no-repeat;margin: 0 auto;}
.icon-btn {width: 46px;height: 46px;background-image: url(/img/sprite.svg);background-position: -226px -74px;background-size: 270px;background-repeat: no-repeat;margin: 0 auto;}
.icon-tel {width: 232px;height: 57px;background-image: url(/img/sprite.svg);background-position: -169px -13px;background-size: 254px;background-repeat: no-repeat;margin: 0 auto;}
.back-img {background-image: url(/img/back-01.svg);background-repeat: repeat-x;background-size: 100%;background-position: 0 -315px;}
.iconUno {width: 272px;height: 293px;background-image: url(/img/sprite.svg);background-position: 17px -329px;background-size: 1003px;background-repeat: no-repeat;margin: 0 auto;}
.iconDos {width: 272px;height: 293px;background-image: url(/img/sprite.svg);background-position: -282px -329px;background-size: 1003px;background-repeat: no-repeat;margin: 0 auto;}
.iconTres {width: 272px;height: 293px;background-image: url(/img/sprite.svg);background-position: -584px -329px;background-size: 1003px;background-repeat: no-repeat;margin: 0 auto;}
.chevron { width: 35px;height: 35px;background-image: url(/img/sprite.svg);background-position: -379px -138px;background-size: 430px;background-repeat: no-repeat;margin: 0 auto;transform: rotate(-90deg);}
.botonTop {position: fixed;bottom: 2em;right: 2em;text-decoration: none;color: #00d752;background-color: rgba(250, 255, 255, 0.5);border: rgba(250, 255, 255, 0.5) solid 1px;border-radius: 100%;padding: 2px 10px;z-index:99;background-color: #004b92;height: 55px;width: 55px;}
.b-cotizar{background: #2ce174; color: white; width: 100%;height: 70px; font-size: 30px;}
.imgUno {transform: translateX(-158px);width: 750px;}
.imgUno-thank {transform: translateX(-158px);width: 750px;}
.c-detalle {background: #90b5dd; border: 1px solid #192d35;}
.tform {color: white;}
.b-tel{text-decoration: white; font-size:20px; border-bottom: 2px solid #fff;}
.borde-tel{border: #192d35 1px solid; padding: 6px;}
.t-iconos{font-size: 14px; text-align: center;}
.btn:hover {color:#fff;text-decoration: none;}
.title1{font-size: 40px;}
ul li { list-style: none; text-decoration: none;}
.usuario{font-weight: bold; margin-top: .5rem;color: #192d35;}
.custom-select, .form-control{height: 52px;}
th{background-color: #192d35;color: white;}
@media (min-width: 801px) and (max-width: 1100px){
  h1{font-size: 2rem;}
  h3, p, li {font-size: 16px;}
  .priv{font-size: 12px;}
  .b-cotizar{width: 100%; margin-bottom: 1.5rem;}
  .t-iconos{font-size: 14px; text-align: center;}
  .imgUno {margin-top: 76px;padding-left: 0px; width: 100%;}  
  .blue {color:#004d98 !important ;}
  ul{padding: 0;}
  .subt{font-size: 26px;}
  .b-arriba{width: 100%;}
    /*estilos de gracias*/
  .usuario {margin-top: 3rem; font-size: 1.5rem; margin-bottom: 0;}
}
@media (min-width: 768px) and (max-width: 800px){
  .logohead{background-position: 13px -43px;background-size: 210px;}
  h1{font-size: 1.8rem;}
  h3, p, li {font-size: 16px;}
  .imgUno {margin-top: 76px;padding-left: 0px; width: 100%;}
  .tform{font-size: 14px;}
  .priv{font-size: 12px;}
  .b-cotizar{width: 100%; margin-bottom: 1.5rem; height: 60px; font-size: 25px;}
  .t-iconos{font-size: 14px; text-align: center;}
  ul{padding: 0;}
  .subt{font-size: 26px;}
  .custom-select{height: 42px;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1.4rem; margin: 0;}
  .tform{font-size: 14px; color:rgb(65, 63, 63) ;}
    /* estilos de interiores*/
  .b-arriba{width: 100%;}
    /*estilos de gracias*/
}

@media (min-width: 376px) and (max-width: 767px){
    h3, p, li {font-size: 16px;}
    .autoseguro-logo {width: 151px;height: 52px;background-image: url(/img/sprite.svg);background-position: -6px 26px;background-size: 270px;background-repeat: no-repeat;margin: 0 auto;}
    .icon-btn {width: 46px;height: 46px;background-image: url(/img/sprite.svg);background-position: -226px -79px;}
    .priv{font-size: 12px;}
    .b-cotizar{width: 100%;  height: 60px; font-size: 25px;}
    .t-iconos{font-size: 13.5px;}
    .custom-select{height: 42px;}
    .imgUno {margin-top: 76px;padding-left: 0px; width: 100%;}
    .custom-select{height: 42px;}
    .usuario, h2{margin-top: 0.5rem; font-size: 1rem; margin: 0;color:#004d98;}
    .d-c{color:rgb(65, 63, 63);}
    .blue {color:#004d98 !important ;}
    .b-arriba{width: 100%;}
    .tform{font-size: 14px; color:rgb(65, 63, 63) ;}
    .title1 {font-size: 30px;}
}

@media (min-width: 321px) and (max-width: 375px){
  .b-cotizar{width: 100%;  height: 60px; font-size: 25px;}
  .autoseguro-logo {width: 151px;height: 52px;background-image: url(/img/sprite.svg);background-position: -6px 26px;background-size: 270px;background-repeat: no-repeat;margin: 0 auto;}
  .icon-btn {width: 46px;height: 46px;background-image: url(/img/sprite.svg);background-position: -226px -79px;}
  .icon-tel{font-size:15px;}
  .title1 {font-size: 30px;}
  .imgUno {margin-top: 76px;padding-left: 0px;width: 100%;;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1rem; margin: 0;color:#004d98 !important;margin-top: 40px;}
  .blue {color:#004d98 !important ;}
  .tform{font-size: 14px; color:rgb(65, 63, 63) ;}
}
@media (min-width: 240px) and (max-width: 320px){
  .b-cotizar{width: 100%;  height: 60px; font-size: 25px;}
  .autoseguro-logo {width: 151px;height: 52px;background-image: url(/img/sprite.svg);background-position: -6px 26px;background-size: 270px;background-repeat: no-repeat;margin: 0 auto;}
  .logo-banorte {width: 100px;height: 100px;background-image: url(/img/sprite.svg);background-position: -283px 6px;background-size: 392px;background-repeat: no-repeat;}
  .icon-btn {width: 46px;height: 46px;background-image: url(/img/sprite.svg);background-position: -226px -79px;}
  .title1 {font-size: 30px;}
  .icon-tel{font-size:15px;}
  h1{font-size: 28px;}
  h3{font-size: 16px;padding-left: 5px;}
  .imgUno {margin-top: 76px;padding-left: 0px; width: 100%;}
  .tform{font-size: 14px; color:rgb(65, 63, 63) ;}
  .priv{font-size: 12px;}
  .b-cotizar{width: 100%; height: 60px; font-size: 25px;}
  .t-iconos{font-size: 9.5px;}
  ul{padding: 0;}
  .subt{font-size: 20px;}
  .custom-select{height: 42px;}
  /* estilos de interiores*/
  .b-arriba{width: 100%;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1rem; margin: 0;}
}
