<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 py-3 text-center">
        <a rel=preconnect title="autoseguro" href="/">
        <span class="d-inline-block">
        <div class="cotizaseguro-logo d-inline-block"></div>  
        <span class="d-inline-block mb-2">Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros Términos y condiciones, asi como el aviso de privacidad</span>
       </span>
        </a>
      </div>
    </div>
  </div>
</template>
