<template>
  <div class="container-fluid">
    <div class="row back-init">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 " id="principal">
        <a rel=preconnect title="cotizaseguroLogo" class="" href="/">
        <div class="cotizaseguro-logo float-left mt-2"></div></a>
        <h3 class="mt-2 font-weight-bold"></h3>
      </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-5">
          <a :href="'tel:'+ '55'+$store.state.config.telefonoAS" class="b-tel float-right borde-tel mt-2">
            <span> <span class="col-1 icon-tel">
              </span>55{{$store.state.config.telefonoAS}}</span>
          </a>
        </div>
      </div>
      <div v-show="!this.showBottonAutoBack == 1">
        <a class="botonTop" :href=" '#principal'">
         <span class="chevron d-inline-block"></span>
        </a>
      </div>
    </div>
</template>

<script>
export default {
  created: function () {
          this.$store.state.config.urlRedireccion = '';
        },
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>

