<template>
  <div>
    <header-component />
    <nuxt />
    <footer-component />
  </div>
</template>

<script>
  import headerComponent from '~/components/common/header.vue';
  import footerComponent from '~/components/common/footer.vue';
  export default {
    components: {
      headerComponent,
      footerComponent
    }
  }
</script>
