<template>
  <div class="container-fluid">
    <div class="row back-img">
      <div class="col-12">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-6 col-lg-6 d-none d-sm-none d-md-block">
               <img class="imgUno-thank" src="/img/imgUno.svg" alt="Adquiere Seguro">  
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12 text-center color-font-tk mt-5">
                <h2 class="usuario usuario font-weight-bold"  id="autosseguroGracias">Hola {{$store.state.formData.nombre}},</h2>
                <h3 class="blue  mejor-precio">encontramos el mejor precio del seguro de tu auto</h3>
                <div class="card mt-2 c-detalle p-0 m-0">
                  <div class="card-body">
                      <h3 class="blue">{{$store.state.formData.marca}}  {{$store.state.formData.modelo}} {{$store.state.formData.descripciones}} {{$store.state.formData.subDescripcion}} </h3>
                  </div>
                </div>
                <h3 class="blue mt-3 p-2" v-show="this.$store.state.formData.precio === 0 || this.$store.state.formData.precio === null || this.$store.state.formData.precio != ''">Precio: {{$store.state.formData.precio | currency}}</h3>
                <p class="blue mt-2" v-if="$store.state.ejecutivo.nombre===''">Un asesor experto se comunicará contigo a la brevedad para asesorarte de forma gratuita.</p>
                <p class="blue" v-else > <b>{{$store.state.ejecutivo.nombre}}</b> ({{$store.state.ejecutivo.correo}}) se pondrá en contacto contigo o llama al:  <a class="axa num-a" :href="'tel:55'+$store.state.config.telefonoAS">55{{$store.state.config.telefonoAS}}</a> </p>
          </div>
          </div>
          </div>
        </div>
         <tabla class="responsive" v-show="this.$store.state.formData.precio === 0 || this.$store.state.formData.precio === null || this.$store.state.formData.precio != ''"/>
      </div>
    </div> 
  </div>
</template>
<script>

import tabla from "~/components/common/tabla.vue"
    export default {
      components: {
        tabla
      },
        layout: 'default',
        created: function () {
            // Cotizacion
            if (this.$store.state.formData.nombre != "") {
                this.$store.state.config.loading = true;
                if (this.$store.state.config.cotizacion) {
                    this.$store.commit("cotizar");
                } else {
                    this.$store.commit("saveData");
                }
            } else {
                this.$router.replace({path: "/error/"});
            }
        }

    }
</script>
