<template>
  <div class="container-fluid pt-0 mt-0">
    <div class="row back-img" >   
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-2 pt-5">
                 <div class="logo-axa"></div>
                 <span class="star"></span>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-10 pt-5 text-left">
              <h1 class="font-weight-bold title1">El mejor Seguro para tu Auto</h1>
              <h3 class="">¡Cotiza el Mejor Precio en 10 Segundos!</h3>
            </div>
        </div>
      <div class="d-none d-md-block">
       <img src="img/imgUno.svg" alt="Cotizador Seguros" class="imgUno">
        </div>
      </div>
       <div class="col-12 col-md-6 col-lg-5 mt-0">
           <autos-form />
       </div>
      </div>  
      </div>  
    </div>
    
    <!-- Beneficios -->
    <div class="row my-3 my-lg-5">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 text-center">
        <div class="iconUno"></div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 text-center">
         <div class="iconDos"></div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 text-center">
        <div class="iconTres"></div>
      </div>
    </div>

    <!-- C O N T E N I D O -->

      <div class="container-fluid">
      <div class="row pt-5">
        <div class="col-12">
          <h3 class="subt">¡La mejor protección para tu auto con <span class="textaxa">AXA Seguros!</span></h3>
          <p>Si eres propietario de un vehículo, debes saber la importancia de estar protegido en todo momento al conducir, es por ello que AXA Seguros te ofrece múltiples productos con los que estarás respaldado y podrás transitar con tranquilidad.</p>
          <p>En la República Mexicana es obligatorio que todos los conductores cuenten con un seguro obligatorio para poder transitar por los caminos y puentes federales, por eso no lo pienses dos veces y adquiere una de las coberturas que AXA te ofrece a través de Cotizador Seguros.</p>
          <p>La Aseguradora AXA es una empresa que tiene presencia en 64 países, además de millones de clientes en todo el mundo, ya que llevan 10 años brindando protección y seguridad a sus clientes, por lo que pueden ser la mejor opción para ti.</p>
          <p>En Cotizador Seguros te daremos una breve explicación de todo lo que te puede ofrecer AXA con sus seguros de auto.</p>
        </div>
        </div>
        <div class="row pt-5">
        <div class="col-12 col-sm12 col-md-8 col-lg-8">
            <h3 class="subt">Con <span class="textaxa">El seguro de auto perfecto para ti con </span>Seguros AXA</h3>
            <p>Seguros AXA se preocupa por cada uno de sus clientes, por eso han diseñado todo tipo de productos, para así poder mantener protegidos a cada uno de ellos aunque cuenten con diferentes necesidades.</p>
            <p>AXA cuenta con seguros para vehículos como:</p>
           <ul class="pl-3">
              <li>Auto</li>
              <li>Autobuses</li>
              <li>Camiones</li>
              <li>Motocicleta</li>
              <li>Camionetas</li>
            </ul>
            <p>Para la protección de los vehículos mencionados, cuentan con cinco distintas coberturas, para que así puedas elegir la que  más te convenga:</p>
           <ul class="pl-3">
              <li>Amplia Plus</li>
              <li>Amplia</li>
              <li>Amplia Básica</li>
              <li>Esencial</li>
              <li>Básica</li>
            </ul>
            <p>En Cotizador Seguros podrás encontrar toda la información necesaria para contratar la cobertura que más se adapte a tus necesidades y presupuesto, solo ingresa a nuestro portal y descubre cómo puedes hacerlo de manera muy sencilla.</p>
      
        </div>
         <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <img src="img/imgDos.svg"  class="img-fluid" />
          </div>
        </div>
        </div>
    
  
       <div class="row">
        <div class="col-12 " style="background:#f5f5f5;">
          <h3 class="">Beneficios que puedes obtener con <span class=""> Seguro de Autos AXA </span></h3>
          <p>Al contratar tu Seguro de Autos AXA recibirás muchos beneficios exclusivos, dependiendo de la cobertura que contrates, por lo que es recomendable que analices cada una de ellas antes de contratar.</p>
          <p>Entre los beneficios se encuentran el respaldo por:</p>
           <ul class="pl-3">
              <li>Daños Materiales</li>
              <li>Robo Total</li>
              <li>Responsabilidad Civil</li>
              <li>Servicios de Asistencia</li>
              <li>Gastos Médicos</li>
              <li>Defensa Legal</li>
              <li>Extensión de Responsabilidad Civil</li>
              <li>Auto Consentido</li>
              <li>Robo Parcial de Autopartes</li>
              <li>Eliminación de Deducible y Devolución de Primas</li>
              <li>Responsabilidad Civil en el Extranjero</li>
              <li>Entre otros…</li>
            </ul>
    </div>
  </div>

   <div class="row">
        <div class="col-12 " style="background:#f5f5f5;">
          <h3 class="">Requisitos para contratar tu <span class="">AXA Seguro de Auto </span></h3>
          <p>Al contratar tu Seguro de Autos AXA recibirás muchos beneficios exclusivos, dependiendo de la cobertura que contrates, por lo que es recomendable que analices cada una de ellas antes de contratar.</p>
          <p>Entre los beneficios se encuentran el respaldo por:</p>
         <ul>
            <li>- Edad mínima de 16 años para el contratante</li>
            <li>- Permiso o licencia para conducir</li>
            <li>- Factura o tarjeta de circulación vehicular</li>
            <li>- Datos del contratante: Nombre, RFC y domicilio</li>
            <li>- Modelo, marca y descripción detallada de la unidad</li>
            <li>- Número de serie, motor y placas</li>
            <li>- Paquete o cobertura deseada</li>
            </ul>

    </div>
  </div>

  <div class="row pt-5">
   <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="subt mt-4">¡Contrata con AXA Seguros desde Cotizador Seguros!</h3>
      <p>En Cotizador Seguros trabajamos de la mano de la Compañía de Seguros AXA, por lo tanto, aquí podrás encontrar la cobertura ideal para ti y tu auto de manera muy rápida y sencilla.</p>
      <p>Solo ingresa a nuestro portal, y aquí podrás cotizar la cobertura que desees, sin costo alguno y en tan solo unos minutos, sin tener que salir de tu casa o cualquier lugar en el que te encuentres.</p>
      <p>Contrata tu Seguro AXA y permanece protegido en todo momento al conducir por las distintas vialidades de la República Mexicana.</p>
   </div>
</div>
</div>
</template>
<script>
import AutosForm from '~/components/form/autosForm.vue'
export default {
  layout:'default',
    created: function() {
        this.$store.state.config.aseguradora = "AXA";
        this.$store.state.config.cotizacion = false;
        this.$store.state.config.emision = true;
        this.$store.state.config.telefonoAS = "47495115";
        this.$store.state.config.grupoCallback = "VN COMPARADOR M";
        this.$store.state.config.from = "ONLINESEGUROS-AXA";
        this.$store.state.config.urlRedireccion = "gracias";
        this.$store.state.config.idAseguradora = 45;
        this.$store.state.config.idPagina = 1550;
        this.$store.state.config.imga = "axa";
        this.$store.state.config.titulo = "Asegurar tu auto es rapidísimo";
        this.$store.state.config.subTitulo = "12 Meses sin intereses.";
        this.$store.state.config.parrafo = "Obtén hasta un 40% de descuento";
        this.$store.state.config.txtBtn = "";
        this.$store.state.config.promo ="¡Excelentes precios!  ";
        this.$store.state.config.promo2 ="+ 3 y 6 MSI."
    },
  components:{
    AutosForm
  },
  head() {
    return {
      title: 'AXA Seguros - Cotiza tu Seguro de Auto AXA - Cotizador Seguros',
      meta: [
        { hid: 'keywords', name: 'keywords', content:'AXA Seguros, Seguros AXA, Seguro de Autos AXA, AXA Seguro de Auto'},
        { hid: 'description', name: 'description', content:'Con AXA Seguros podrás encontrar las mejores coberturas para proteger tu vehículo mientras conduces. ¡Cotiza Seguro de Auto AXA!'},
        { hid: 'author', name: 'author', content: 'linkedin | Glous'},
        { hid: 'sitemap', rel: 'sitemap', type: 'application/xml', title: 'sitemap', href: 'sitemap.xml'},
        { hid: 'canonical', rel: 'canonical', href: 'https://hdi.seguros.autoseguro.mx'},
        { hid: 'robots', name: 'robots', content: 'index, follow'}
      ]
    }
  },
}
</script>
